$primary-background: var(--color-primary-bg);

$container-bg: var(--color-container-bg);

$primary-shadow: 3px 3px 8px var(--color-shadow-right),
-3px -3px 8px var(--color-shadow-left);

$card-shadow: 0 0 10px 1px var(--color-card-shadow);

$card-shadow-hover: 0 0 15px 1px var(--color-card-shadow);

$button-shadow: 15px 15px 18px var(--color-shadow-right),
-15px -15px 18px var(--color-shadow-left);

$button-shadow-hover: 6px 6px 12px var(--color-shadow-right),
-6px -6px 12px var(--color-shadow-left);

$button-shadow-active: 0px 0px 0px var(--color-shadow-right),
0px 0px 0px var(--color-shadow-left),
inset 10px 10px 18px var(--color-shadow-right),
inset -10px -10px 18px var(--color-shadow-left);

$word-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
-5px -5px 5px var(--color-shadow-left);

$word-color: var(--color-word);

$footer-bg: var(--color-footer-bg);

$copyright-bg: var(--color-copyright-bg);

$blockquote-color: var(--color-blockquote-word);

$blockquote-bg-color: var(--color-blockquote-bg);

$code-color: var(--color-code);

$code-color-bg: var(--color-code-bg);

$list-item-color: var(--color-list-item);

$list-item-color-active: var(--color-list-item-active);

$tip-world-color: var(--color-custom-block-tip-word);

$word-color-light:#546c85;

$word-color-blue: #2A80B9;

$word-color-blue-light: #59bdff;

$cloud-z-index: 8;

$container-min-height: calc(100vh - 60px);

$container-height: calc(100vh - 60px);

$cyan: #78D3D4;
$green: #A9D4AC;
$magenta: #D6ADD4;
$yellow: #FDD27C;
$blue: #77ACD3;
$black: #555555;
$white: #d4d4d4;
$colors: ("cyan": $cyan, "green": $green, "magenta": $magenta, "yellow": $yellow, "blue": $blue, "black": $black, "white": $white);
$codeLang: js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile;

.flex {
      display: flex;
      justify-content: center;
      align-items: center;
}

.flex-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}